{% extends 'base.html' %}

{% block content %}

<main>
        <section class="history">
            <h2>História do Santos FC</h2>
            <p>O Santos Futebol Clube é um clube de futebol brasileiro sediado na cidade de Santos, no litoral do estado de São Paulo. Fundado em 14 de abril de 1912, o Santos é um dos clubes mais tradicionais e bem-sucedidos do Brasil e do mundo.</p>
            <p>O clube ganhou fama internacional principalmente durante as décadas de 1950 e 1960, quando contou com o talento de Pelé, considerado por muitos o maior jogador de futebol de todos os tempos. Com Pelé em campo, o Santos conquistou diversos títulos importantes, incluindo a Copa Libertadores da América e a Copa Intercontinental.</p>
            <p>A história do Santos está repleta de momentos memoráveis, como as conquistas da Copa Libertadores da América em 1962 e 1963, e os títulos mundiais em 1962 e 1963. Além disso, o clube também possui diversos títulos estaduais e nacionais ao longo de sua trajetória.</p>
            <p>Atualmente, o Santos FC continua sendo um dos clubes mais importantes e respeitados do futebol brasileiro, mantendo viva a tradição de revelar talentos e praticar um futebol ofensivo e envolvente.</p>
        </section>
</main>

{% endblock content%}