<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Títulos</title>
</head>
<body>
    <h1>Títulos</h1>
    <hr>

    <form for="{{url_for('titulos')}}", method="POST">
        <label for="titulo">Título</label>
        <input type="text" name="titulo">
        <input type="submit" value="Entrar">
    </form>

    <ul>
        <li>Título: {{titulo}}</li>
        <li>Ano:{{ano}}</li>
    </ul>

    <p>Já faz {{2024-ano}} anos que ganhamos esse {{titulo}}</p>
</body>
</html>